.row
  .span6
    %table.table
      %thead
        %tr
          %th= t('th.name')
          %th= t('th.snapchat')

      %tbody
        - @friends.each do |friend|
          %tr
            %td= friend[:name]
            %td= friend[:snapchat]
.row
  .span2.offset4
    = form_tag(signout_path, method: 'delete') do
      %fieldset
        %button.btn.btn-danger#sign_out
          = t('button.sign_out')
